<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Drive Clone</title>
    <link rel="stylesheet" href="/static/css/folder.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <!-- Header -->
    <div class="header">
        <div class="logo">Drive</div>
        <div class="actions">
            <input type="button" value="Upload File" onclick="document.getElementById('fileInput').click()">
            <!-- Hidden file input -->
            <input type="file" id="fileInput" accept=".img,.png,.rar" onchange="handleFileSelect(event)">
        </div>
    </div>

    <!-- Sidebar -->
    <div class="sidebar">
        <ul>
            <li><a href="#">User: {{user_name}}</a></li>
            <li><a href="#">Change password</a></li>
            <li><a onclick="logout()">Logout</a></li>
        </ul>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        <div class="file-grid">
            {% for folder in folders %}
            <div class="file-item">
                <div class="file-actions">
                    <button class="action-btn rename-btn" onclick="showRenameModal('{{folder}}')">
                        ✏️
                    </button>
                    <button class="action-btn delete-btn" onclick="deleteFolder('{{folder}}')">
                        🗑️
                    </button>
                </div>
                <img src="/assets/folder.png" alt="File Icon" onclick="window.location.href='/folder/{{folder}}'">
                <p id="fol">{{ folder }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Rename Modal -->
    <div class="rename-modal" id="renameModal">
        <div class="modal-content">
            <h3>Rename File</h3>
            <input type="text" id="newFolderName" placeholder="Enter new name">
            <div class="modal-buttons">
                <button class="modal-btn cancel-btn" onclick="hideRenameModal()">Cancel</button>
                <button class="modal-btn save-btn" onclick="renameFolder()">Save</button>
            </div>
        </div>
    </div>
    <script>
        function logout() {
            axios.post("/logout").then(() => {
                localStorage.clear();
                sessionStorage.clear();
                window.location.href = "/login"
            })
        }

        let currentFolder = window.location.pathname.split('/').filter(Boolean).pop();
        let old_name = ''

        function handleFileSelect(event) {
            const file = event.target.files[0];
            if (file) {
                const formData = new FormData();
                formData.append("file", file);
                axios.post("/folder/" + currentFolder, formData)
                    .then(() => {
                        window.location.href = "/folder/" + currentFolder
                    }).catch(er => {
                        alert(er.response.data.message)
                    })
            }
        }
        
        function showRenameModal(file_name) {
            old_name = file_name
            document.getElementById('newFolderName').value = file_name;
            document.getElementById('renameModal').classList.add('show');
        }

        function hideRenameModal() {
            document.getElementById('renameModal').classList.remove('show');
        }

        async function renameFolder() {
            axios.put("/folder/" + currentFolder, {
                "folder": currentFolder,
                "old_name": old_name,
                "new_name": document.getElementById('newFolderName').value
            }).then(() => {
                window.location.href = "/folder/" + currentFolder
            }).catch(er => {
                alert(er.response.data.message)
            })
        }

        async function deleteFolder(fileName) {
            if (confirm(`Are you sure you want to delete "${fileName}"?`)) {
                axios.delete("/folder/" + currentFolder, {
                    data: { "folder": currentFolder, "name": fileName }
                }).then(res => {
                    window.location.href = "/folder/" + currentFolder
                }).catch(er => {
                    alert(er.response.data.message)
                })
            }
        }
    </script>
</body>

</html>