<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>

    <div class="container">
        <div class="screen">
            <div class="screen__content">
                <form class="login" method="POST" action="/login">
                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        <input type="text" class="login__input" name="username" id="username" placeholder="User name">
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        <input type="password" class="login__input" name="password" id="password"
                            placeholder="Password">
                    </div>
                    <input type="button" name="" id="" onclick="login()" value="Login now">
                </form>
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>
        </div>
    </div>
    <script>
        function login() {
            axios.post('/login', {
                "username": document.getElementById('username').value,
                "password": document.getElementById('password').value
            })
                .then(res => window.location.href = "/")
                .catch(er => {
                    alert(er.response.data.message)
                });
        }
    </script>
</body>

</html>